<!DOCTYPE html>
<html>
<head>
<meta charset=UTF-8>
	<title>注册界面</title>	
</head>
<body>
<h1>你好 <?php echo $_SESSION['me']['name']; ?> </h1>
	<form action="./index.php?c=User&a=doAdd" method="post">
		<table align="center" bgcolor="yellow" cellspacing="2px" cellpadding="2px" border="2px" bordercolor="blue"> 
		<caption align="center">注册</caption> 
			 <tr>
			 	<td>name:</td>
			 	<td><input type="text" name="username"></td>
			 </tr>
	         <tr>
	         	<td>age:</td>
	         	<td><input type="text" name="age"></td>
	         </tr>
		     <tr>
		     	<td>password:	</td>
		     	<td><input type="text" name="password"></td>
		     </tr>
			 <tr>
			 	<td colspan="2" align="center"><input type="submit" name ="" value="yes"></td>
			 </tr>
		</table> 
	</form>
</body>
</html>