<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<style type="text/css">
	h1 { text-align:center;}
	table { margin:0 auto;}
	td { width: 100px;text-align:center;}
	body { width: 1000px;text-align:center;}
	form { margin: 0 auto;width: 100px;}
	</style>
</head>
<body>
<h1>登录</h1>
<form action="index.php?c=User&a=doLogin" method="post">
		<table > 
			 <tr>
			 	<td>姓名:</td>
			 	<td><input type="text" name="username"></td>
			 </tr>
		     <tr>
		     	<td>密码:	</td>
		     	<td><input type="text" name="password"></td>
		     </tr>
			 <tr>
			 	<td colspan="2" align="center"><input type="submit" name ="" value="yes"></td>
			 </tr>
		</table> 
</form>
	<a href="index.php?c=UserCenter&a=reg">去注册</a>
</body>
</html>